<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlyFlans</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {% block 'header' %}
    <div style="background-color: red;">
        header
    </div>
    {% endblock 'header' %}
    {% block 'navbar' %}
    <div style="background-color: blue;">
        navbar
    </div>
    {% endblock 'navbar' %}
    {% block 'content' %}
    <div style="background-color: yellow;">
        content
    </div>
    {% endblock 'content' %}
    {% block 'footer' %}
    <div style="background-color: green;">
        footer
    </div>
    {% endblock 'footer' %}
</body>
</html>